.outerContainer {
  width: 100%;
  background-color: #dbafaf;
  position: fixed;
  padding: 1.5rem;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list li {
  cursor: pointer;
}
